 RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ ^$1 [N]

    RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
    RewriteRule ^(.*)$ public/$1

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ server.php

RewriteCond %{HTTP_REFERER} !^http://luanpv.id.vn/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://luanpv.id.vn$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.luanpv.id.vn/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.luanpv.id.vn$      [NC]
RewriteCond %{HTTP_REFERER} !^https://luanpv.id.vn/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://luanpv.id.vn$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.luanpv.id.vn/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.luanpv.id.vn$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

